<div class="container mt-3 me-5 p-5 bg-white rounded-4">
  <div class="row">
    <div class="col-md-4 col-lg-3 text-center text-md-start">
      <img
        src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png"
        alt="Friend Profile Image"
        class="img-fluid rounded-circle"
        style="width: 200px; height: 200px;"
      />
    </div>

    <div class="col-md-8 col-lg-9">
      <!-- get the data from local storge -->
      <h1 class="display-4 mb-3">{{user?.name}}</h1>
      <p class="text-muted lead mb-4">{{user?.email}}</p>

      <div>
        <p class="mb-2"><strong>Phone:</strong> {{user?.phone}}</p>
        <p class="mb-2">
          <strong>Address:</strong> {{user?.address}}
        </p>
      </div>
    </div>
  </div>
</div>
<h2 class="m-3">Posts</h2>

<!----post component-->
<div class="row">
  <div class="col-12 col-md-8">
    <div class="row">
      <ng-container *ngFor="let post of posts">
        <app-post
          [authorImage]="post.authorImage"
          [authorName]="post.authorName"
          [postContent]="post.postContent"
          [postDate]="post.postDate"
          [postImage]="post.postImage"
          [comments]="post.comments"
          [postId]="post.id"
          
        ></app-post>
      </ng-container>
    </div>
  </div>
</div>