<div class="container mt-3 me-5 p-5 bg-white rounded-4">
  <div class="row">
    <div class="col-md-4 col-lg-3 text-center text-md-start">
      <img
        src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png"
        alt="Friend Profile Image"
        class="img-fluid rounded-circle"
        style="width: 200px; height: 200px;"
      />
    </div>

    <div class="col-md-8 col-lg-9">
      <h1 class="display-4 mb-3">Nour eldin</h1>
      <p class="text-muted lead mb-4">noureldeanh&#64;gmail.com</p>

      <div>
        <p class="mb-2"><strong>Phone:</strong> +1 (20) 01203299971</p>
        <p class="mb-2">
          <strong>Address:</strong> El-Obour City - Cairo - Egypt
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-sm-9">
    <div class="col p-4 rounded-4 bg-white mt-2">
      <div class="d-flex gap-3">
        <img
          src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_640.png"
          style="width: 50px; height: 50px;"
          alt="Image"
        />
        <div>
          <h5>Nour Hesham</h5>
          <p>4 hours ago</p>
        </div>
      </div>

      <div class="post-body">
        <p>
          hey maaaaaaaan!
        </p>
      </div>
      <div class="post-photo">
        <img
          style="max-height: 350px; border-radius: 15px;"
          class="w-100 p-1"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRX7zmrU5OWn1HyRDHG1z36Eu7rfGQglKn_g&s"
          alt="Post Photo"
        />
      </div>
      <div class="row mt-3">
        <div class="col-2 d-flex justify-content-end mt-2">
          <div class="row">
            <div class="col">
              <i
                class="fa-solid fa-comment-dots fa-xl"
                style="color: #359fdc;"
              ></i>
            </div>
            <div class="col">
              <p class="fw-bolder">200</p>
            </div>
          </div>
        </div>
        <div class="col-10">
          <div
            class="container d-flex justify-content-center py-1 px-2 border border-1 rounded-5"
          >
            <div class="input-group search-bar rounded-pill">
              <input
                type="text"
                class="form-control border-0 shadow-none rounded-pill-end"
                placeholder="Write Your comment"
                aria-label="Search"
                aria-describedby="search-icon"
              />
              <span
                class="input-group-text bg-transparent border-0 rounded-pill-start"
                id="search-icon"
              >
                <i class="fas fa-camera fa-lg me-2" style="color: #229654;"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <hr class="mx-2" />
      <div class="container mt-4">
        <div class="row align-items-start mb-3">
          <div class="col-auto">
            <img
              src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png"
              alt="Author Profile"
              class="rounded-circle"
              style="width: 50px; height: 50px;"
            />
          </div>

          <!-- Comment Box -->
          <div class="col">
            <div
              class="comment-box p-3 rounded"
              style="background-color: #f3f6f8;"
            >
              <h6 class="author-name mb-1">Mazen Bilbeis</h6>
              <p class="mb-0">
                This is the author's comment. It can be a few sentences long and
                will be displayed under the author's name.
              </p>
            </div>
          </div>
        </div>
        <div class="row align-items-start mb-3">
          <div class="col-auto">
            <img
              src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png"
              alt="Author Profile"
              class="rounded-circle"
              style="width: 50px; height: 50px;"
            />
          </div>

          <div class="col">
            <div
              class="comment-box p-3 rounded"
              style="background-color: #f3f6f8;"
            >
              <h6 class="author-name mb-1">Mohannad Nigger</h6>
              <p class="mb-0">This is another author's comment.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
