<div class="col p-4 rounded-4 bg-white mt-2">
  <div class="d-flex position-relative gap-3">
    <img [src]="
        postAuthorImage
          ? postAuthorImage
          : 'https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_640.png'
      " style="width: 50px; height: 50px; border-radius: 70%" alt="Image" />
    <div>
      <h5>{{ postAuthorName }}</h5>
      <p>{{ postDate }}</p>
    </div>
    <div class="position-absolute end-0 d-flex gap-2">
      <button *ngIf="InProfile" class="btn" (click)="startEditing()">
        <i class="fas fa-edit fa-xl text-primary"></i>
      </button>
      <button *ngIf="InProfile" class="btn" (click)="deletePost()">
        <i class="fas fa-trash fa-xl text-danger"></i>
      </button>
    </div>
  </div>

  <div class="post-body">
    <ng-container *ngIf="isEditing; else viewContent">
      <textarea [(ngModel)]="editedContent" rows="3" class="form-control"></textarea>
      <button class="btn btn-primary mt-2 me-3" (click)="saveEdit()">Save</button>
      <button class="btn btn-secondary mt-2" (click)="cancelEdit()">Cancel</button>
    </ng-container>
    <ng-template #viewContent>
      <p>{{ postContent }}</p>
    </ng-template>
  </div>

  <div class="post-photo">
    <ng-container *ngIf="postImage">
      <img style="max-height: 500px; border-radius: 15px" class="w-100 p-1" src="{{ postImage }}" alt="Post Photo" />
    </ng-container>
  </div>

  <!-- Comment section -->
  <div class="row mt-3">
    <div class="col-2 d-flex justify-content-end mt-2">
      <div class="row">
        <div class="col">
          <i class="fa-solid fa-comment-dots fa-xl" style="color: #359fdc"></i>
        </div>
        <div class="col">
          <p class="fw-bolder">{{ comments.length }}</p>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="container d-flex justify-content-center py-1 px-2 border border-1 rounded-5">
        <div class="input-group search-bar rounded-pill">
          <input type="text" class="form-control border-0 shadow-none rounded-pill-end" placeholder="Write Your comment"
            [(ngModel)]="newCommentContent" (keydown.enter)="postComment()" />
          <button class="btn btn-sm" (click)="postComment()">
            <span class="input-group-text bg-transparent border-0 rounded-pill-start">
              <i class="fas fa-paper-plane fa-lg" style="color: #229654"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-2" />
  <app-comment *ngFor="let comment of comments" [author]="comment.authorName" [comment]="comment.content"
    [authorImage]="comment.authorImage" [postId]="postId" [commentId]="comment.commentId"
    [IsAuth]="comment.isAuth"></app-comment>
</div>