<div class="col p-4 rounded-4 bg-white mt-2">
  <div class="d-flex gap-3">
    <img
      src="https://cdn.pixabay.com/photo/2016/04/15/18/05/computer-1331579_640.png"
      style="width: 50px; height: 50px;"
      alt="Image"
    />
    <div>
      <h5>{{authorName}}</h5>
      <p>{{postDate}}</p>
    </div>
  </div>
  <div class="post-body">
    <p>{{postContent}}</p>
  </div>
  <div class="post-photo">
    <img
      style="max-height: 350px; border-radius: 15px;"
      class="w-100 p-1"
      src="{{postImage}}"
      alt="Post Photo"
    />
  </div>
  <div class="row mt-3">
    <div class="col-2 d-flex justify-content-end mt-2">
      <div class="row">
        <div class="col">
          <i class="fa-solid fa-comment-dots fa-xl" style="color: #359fdc;"></i>
        </div>
        <div class="col">
          <p class="fw-bolder">{{comments.length}}</p>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div
        class="container d-flex justify-content-center py-1 px-2 border border-1 rounded-5"
      >
        <div class="input-group search-bar rounded-pill">
          <input
            type="text"
            class="form-control border-0 shadow-none rounded-pill-end"
            placeholder="Write Your comment"
          />
          <button class="btn btn-sm">
            <span
              class="input-group-text bg-transparent border-0 rounded-pill-start"
            >
              <i class="fas fa-camera fa-lg me-2" style="color: #229654;"></i>
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr class="mx-2" />
  <app-comment
    *ngFor="let comment of comments"
    [author]="comment.authorName"
    [comment]="comment.content"
    [authorImage]="comment.authorImage"
  ></app-comment>
</div>
