<div class="row">
  <div class="col-12 col-md-8">
    <app-createpost></app-createpost>
    <ng-container *ngFor="let post of posts">
      <app-post
        [authorImage]="post.authorImage"
        [authorName]="post.authorName"
        [postContent]="post.postContent"
        [postDate]="post.postDate"
        [postImage]="post.postImage"
        [comments]="post.comments"
      ></app-post>
    </ng-container>
  </div>
  <div class="d-none d-md-block col-md-4">
    <app-activefriends></app-activefriends>
  </div>
</div>
